 Home Page-->
<div id="index">    


    
    <!-- Full Screen Slider-->
    <div id="maximage" class="mc-cycle" style="width: 334px; height: 508px; display: block;">
     
        
    <div class="mc-image " title="reva" style="background-image: url(file://localhost/Users/dorritgeshuri/Desktop/REVA-Retro-Parallax-Responsive-Theme/reva%20v1.0/images/bg/bg1.jpg); position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 334px; height: 508px;" data-href="">
            
            <div class="pattern"></div>
            <div class="in-slide-content" style="display: block;">
                <div class="in-slide-inner">
                    <h1>Reva</h1>
                    <img title="designova" alt="reva" src="images/legends/star.png">
                    <p>Creative Theme</p>
                </div>
            </div>
        </div><div class="mc-image " title="reva" style="background-image: url(file://localhost/Users/dorritgeshuri/Desktop/REVA-Retro-Parallax-Responsive-Theme/reva%20v1.0/images/bg/bg2.jpg); position: absolute; top: 0px; left: 0px; display: none; z-index: 3; width: 334px; height: 508px; opacity: 0;" data-href="">
            
            <div class="pattern"></div>
            <div class="in-slide-content" style="display: block;">
                <div class="in-slide-inner">
                    <h1>Retro</h1>
                    <img title="designova" alt="reva" src="images/legends/star.png">
                    <p>You're gonna love it</p>
                </div>
            </div>
        </div><div class="mc-image " title="reva" style="background-image: url(file://localhost/Users/dorritgeshuri/Desktop/REVA-Retro-Parallax-Responsive-Theme/reva%20v1.0/images/bg/bg3.jpg); position: absolute; top: 0px; left: 0px; display: block; z-index: 4; width: 334px; height: 508px; opacity: 1;" data-href="">
            
            <div class="pattern"></div>
            <div class="in-slide-content" style="display: block;">
                <div class="in-slide-inner">
                    <h1>Coding Cowboy</h1>
                    <img title="designova" alt="reva" src="images/legends/star.png">
                    <p>Easy to use and edit</p>
                </div>
            </div>
        </div></div>
    <!--/Full Screen Slider-->
</div>
<!-- Home Page End
 -->    
        
    <!-- page:starts-->
    <section id="saddlebags" class="container-fluid section page">
        <div class="row-fluid">
            <section class="container">
                <div class="row">
                    <article class="span12 text-center main-title">
                        <h1>Saddlebags</h1>
                        <img title="designova" alt="reva" src="images/legends/star.png">
                    </article>
                 </div>

                 <div class="row">
                    <article class="span12 text-center promo-text">
                        <p>A classic creative theme featuring Retro design with parallax layers at it's best. The layout is perfectly responsive across all devices, built with latest Bootstrap 2.3.0</p>
                    </article>
                 </div>
                 <article class="span3 add-top pull-left">
                     <h3 class="sub-title">Search Options</h3>
                     <ul>
                        <li style="unstyled">Types</li>
                        <li style="unstyled">Subjects</li>
                        Search butn
                     </ul>
                 </article>

                 <div class="row">
                    <article class="span8 add-top pull-right">
                        <h3 class="sub-title">Tools</h3>
                        <p>Table of Tools</p>


                    </article>

                    
                   
                 </div>

                 

            </section>
        </div>
    </section>
    <!--page:ends-->


    <!-- Separator1-->
    <div class="parallax" id="separator1">

        <div class="patternless">
            <section id="testimonials" class="container-fluid">
        <div class="row-fluid">
            <section class="container">
                <div class="row">
                    <article class="span12">
                        <!-- Testimonials Carousel-->
            <div class="carousel_testimonials">
            
            
                    <!-- Testimonials List-->
                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 960px; height: 275px; margin: 0px; overflow: hidden;"><ul id="testimonials-carousel" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 8640px; height: 275px; z-index: auto;">
                        
                        
                        
                        
                        
                        
                       
                        
                       
                        
                    <li style="width: 960px;">
                            <h1>A perfect theme with easily editable layout. Really appreciate your work. Thank you so much for such a great theme!
                            </h1>                
                            <img title="designova" alt="reva" src="images/legends/star.png">
                            <h5>Client Name</h5>            
                        </li><li style="width: 960px;">
                            <h1>A perfect theme with easily editable layout. Really appreciate your work. Thank you so much for such a great theme!
                            </h1>                
                            <img title="designova" alt="reva" src="images/legends/star.png">
                            <h5>Client Name</h5>            
                        </li><li style="width: 960px;">
                            <h1>A perfect theme with easily editable layout. Really appreciate your work. Thank you so much for such a great theme!
                            </h1>                
                            <img title="designova" alt="reva" src="images/legends/star.png">
                            <h5>Client Name</h5>            
                        </li><li style="width: 960px;">
                            <h1>A perfect theme with easily editable layout. Really appreciate your work. Thank you so much for such a great theme!
                            </h1>                
                            <img title="designova" alt="reva" src="images/legends/star.png">
                            <h5>Client Name</h5>            
                        </li></ul></div>
                    <!--/Testimonials List-->
                    
                    
                    <!-- Testimonials Pagination-->
                    <!-- <a id="prev" class="t-prev" href="#"></a>
                    <a id="next" class="t-next" href="#"></a> -->
                    <!--/Testimonials Pagination-->
                    
                </div>
                <!--/Testimonials Carousel-->
                    </article>
                 </div>
            </section>
        </div>
    </section>

        </div>
        <!--/pattern-->
        <div class="separator1-bg"></div>
    </div>
    <!--/Separator1-->



    <!-- page:starts-->
    <section id="notches" class="container-fluid section page">
        <div class="row-fluid">
            <section class="container">
                <div class="row">
                    <article class="span12 text-center main-title">
                        <h1 class="white">Notches</h1>
                        <img title="designova" alt="reva" src="images/legends/star.png">
                    </article>
                 </div>

                 <div class="row">
                    <article class="span12 text-center promo-text">
                        <p>Each tutorial you complete is a notch on your belt!</p>
                    </article>
                 </div>

            </section>
        </div>
    </section>
    <!--page:ends-->


    
    <!-- page:starts-->
    <section class="portfolio-items">
       
                     <!-- Portfolio Filters-->
                        <div class="projects-filters">
                            <!-- Filters-->
                            <div id="filters">
                                <nav class="primary">
                                    <a href="#" class="selected" data-filter="*">Everything</a>
                                    <a href="#" data-filter=".category1">Design</a>
                                    <a href="#" data-filter=".category2">Illustration</a>
                                    <a href="#" data-filter=".category3">Identity</a>
                                </nav>
                            </div>
                            <!--/Filters-->
                        </div>
                        <!--/Portfolio Filters-->  
                       
                        <!-- Portfolio List-->
                        <ul class="portfolio isotope" style="overflow: hidden; position: relative; height: 978px;">
                            <li class="view category3 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/1_thumb.jpg">           
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>   
                            </li>
                            
                            
                            
                            <li class="view category1 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(163px, 0px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="images/portfolio/2_thumb.jpg" title="Image Caption"><img title="designova" alt="reva" src="images/portfolio/2_thumb.jpg">          
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>   
                            </li>
                            
                            <li class="view category2 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 163px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/4_thumb.jpg">          
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>   
                            </li>
                            
                            
                            
                            <li class="view category3 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(163px, 163px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/3_thumb.jpg">          
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>  
                            </li>            
                            
                            <li class="view category1 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 326px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/5_thumb.jpg">          
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>                                 
                            </li>
                            
                            
                            
                            <li class="view category2 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(163px, 326px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/6_thumb.jpg">           
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>  
                            </li>
                            
                            <li class="view category3 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 489px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/7_thumb.jpg">           
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>                                 
                            </li>
                            
                            <li class="view category1 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(163px, 489px, 0px);">                
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/8_thumb.jpg">          
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>                  
                            </li>
                            
                            <li class="view category3 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 652px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/9_thumb.jpg">          
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>  
                            </li>
                            
                            <li class="view category2 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(163px, 652px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/10_thumb.jpg">         
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>   
                            </li>
                            
                            <li class="view category2 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 815px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/11_thumb.jpg">         
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>  
                            </li>
                            
                            <li class="view category1 isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(163px, 815px, 0px);">
                                <div class="view">
                                    <a class="group1 cboxElement" href="project-ajax.html" title="Project Title"><img title="designova" alt="reva" src="images/portfolio/12_thumb.jpg">         
                                        <div class="mask">                    
                                            <h3>Project Title</h3>
                                            <h6>Project Category</h6>
                                            
                                        </div>
                                    </a>
                                </div>   
                            </li>
                        </ul>
                        <!--/Portfolio List-->
       
    </section>
    <!--page:ends-->
    
    
        
    
    <!-- Separator2-->
    <div class="parallax" id="separator2">

        <div class="patternless">
            <section class="container-fluid" id="query">
                <div class="row-fluid">
                    <section class="container">
                        <div class="row">
                            <article class="span12">
                                <div class="text-center">
                                    <h3>Shall we work together?</h3>
                                    <button class="btn-reva" type="submit">Reach Us</button>
                                </div> 
                            </article>
                         </div>
                    </section>
                </div>
            </section>
        </div>
        <div class="separator2-bg"></div>
    </div>
    <!--/Separator2-->
    
    
    
    <!-- page:starts-->
    <section id="quickdraw" class="container-fluid section page">
        <div class="row-fluid">
            <section class="container">
                <div class="row">
                    <article class="span12 text-center main-title">
                        <h1>Quickdraw</h1>
                        <img title="designova" alt="reva" src="images/legends/star.png">
                    </article>
                 </div>

                 <div class="row">
                    <article class="span12 text-center promo-text">
                        <p>An easy and quick way to add tools to your saddlebag.</p>
                    </article>
                 </div>

                 <div class="row">
                    <article class="span4 pricing bg-red">
                        <p class="p-name">Tool</p>
                        <div class="signup"><a href="#" class="btn btn-reva">Add</a></div>
                    </article>

                    <article class="span4 pricing bg-green">
                        <p class="p-name">Subject</p>
                        
                        <div class="signup"><a href="#" class="btn btn-reva">Add</a></div>
                    </article>

                    <article class="span4 pricing bg-blue">
                        <p class="p-name">Type</p>
                        
                        <div class="signup"><a href="#" class="btn btn-reva">Add</a></div>
                    </article>
                 </div>

                 <div class="row">
                    <article class="span4 add-top">
                        <h3 class="sub-title text-center">View Tools</h3>
                        <img title="designova" alt="reva" src="../images/icons/s01.png">
                        
                    </article>

                     <article class="span4 add-top">
                        <h3 class="sub-title text-center">View Subjects</h3>
                        <img title="designova" alt="reva" src="/images/icons/s02.png">
                        
                    </article>

                     <article class="span4 add-top">
                        <h3 class="sub-title text-center">View Types</h3>
                        <img title="designova" alt="reva" src="/images/icons/s03.png">
                        
                    </article>

                   
                 </div>

            </section>
        </div>
    </section>
    <!--page:ends-->
    
    
    
    
    
    <!-- Separator3-->
    <div class="parallax" id="separator3">

        <div class="patternless">
            <section id="newsletter" class="newsletter container-fluid">
                <div class="row-fluid">
                    <section class="container">
                        <div class="row">
                            <article class="span12">
                                <form id="newsletter-form">
                                    <h2 class="pull-left add-right">Subscribe our monthly newsletter!</h2>
                                    <input type="text" class="newsletter-email">
                                    <button type="submit" class="btn-reva">Subscribe</button>
                                </form>
                            </article>
                         </div>
                    </section>
                </div>
            </section>
        </div>
        <div class="separator3-bg"></div>
    </div>
    <!--/Separator3-->
    
    
    
    
    
    
    
    <!-- page:starts-->
    <section id="milestones" class="container-fluid section page">
        <div class="row-fluid">
            <section class="container">
                <div class="row">
                    <article class="span12 text-center main-title">
                        <h1 class="white">Milestones</h1>
                        <img title="designova" alt="reva" src="images/legends/star.png">
                    </article>
                 </div>

                 <div class="row">
                    <article class="span12 text-center promo-text">
                        <p>A classic creative theme featuring Retro design with parallax layers at it's best. The layout is perfectly responsive across all devices, built with latest Bootstrap 2.3.0</p>
                    </article>
                 </div>

                 <div class="row">
                    <article class="span12 add-top">
                        

                         <!-- milestones Carousel-->
            <div class="list_carousel">
            
                <!-- milestones List-->
                <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 234px; height: 449px; margin: 0px; overflow: hidden;"><ul id="milestones-carousel" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: -2px; margin: 0px; width: 3102px; height: 449px;">
                    
                    <li class="milestone-item" style="margin-right: 20px;">
                       <img title="designova" alt="reva" src="images/milestones/01.png">
                       <h2>534</h2>
                       <h4>emails</h4>
                    </li>
                    
                    <li class="milestone-item" style="margin-right: 20px;">
                       <img title="designova" alt="reva" src="images/milestones/02.png">
                       <h2>019</h2>
                       <h4>projects</h4>
                    </li>
                    
                    <li class="milestone-item" style="margin-right: 20px;">
                       <img title="designova" alt="reva" src="images/milestones/03.png">
                       <h2>727</h2>
                       <h4>tweets</h4>
                    </li>
                    
                    <li class="milestone-item" style="margin-right: 20px;">
                       <img title="designova" alt="reva" src="images/milestones/04.png">
                       <h2>631</h2>
                       <h4>likes</h4>
                    </li>
                    
                    <li class="milestone-item" style="margin-right: 20px;">
                       <img title="designova" alt="reva" src="images/milestones/05.png">
                       <h2>224</h2>
                       <h4>snaps</h4>
                    </li>

                    <li class="milestone-item" style="margin-right: 20px;">
                       <img title="designova" alt="reva" src="images/milestones/06.png">
                       <h2>089</h2>
                       <h4>videos</h4>
                    </li>
                    
                </ul></div>
                <!--/milestones List-->
                
                
                
                <!-- milestones Navigation-->
                <div id="milestones-navigation">              
                    <a id="prev2" class="prev" href="#" style="display: block;"></a>
                    <a id="next2" class="next" href="#" style="display: block;"></a>
                </div>
                <!-- milestones Navigation-->               
                
                
            </div>
            <!--/milestones Carousel-->


                    </article>

                   

                   
                 </div>
            </section>
        </div>
    </section>
    <!--page:ends-->
    
    
    
    
    
    <!-- Separator4-->
    <div class="parallax" id="separator4">

        <div class="patternless">
             <section id="twitter" class="twitter container-fluid">
                <div class="row-fluid">
                    <section class="container">
                        <div class="row">
                            <article class="span12">
                                    <div class="twitter-image">
                                        <img title="designova" alt="reva" src="images/twitter.png">
                                    </div>
                    
                                    <h2 class="tweet-note">"Lorem ipsum dolor sit amet consectetur adipiscing aliquam est lectus mattis in sodales congue"</h2>
                    
                                    <p class="tweet-info"><span>@username / March 05, 2013</span></p>
                            </article>
                         </div>
                    </section>
                </div>
            </section>
        </div>
        <div class="separator4-bg"></div>
    </div>
    <!--/Separator4-->
    
    
    



    <!-- page:starts-->
    <section id="pony" class="container-fluid section page">
        <div class="row-fluid">
            <section class="container">

                <div class="row">
                    <article class="span12 text-center main-title">
                        <h1>Pony Express</h1>
                        <img title="designova" alt="reva" src="images/legends/star.png">
                    </article>
                </div>

                <div class="row">
                    <article class="span12 text-center promo-text">
                        <p>Send us a message by courier pigeon or by covered wagon.</p>
                    </article>
                </div>

                <div class="row">
                    <article class="span12 text-center">
                        <div id="fname" class="alert alert-error error add-top" style="display: none;">
                        Name must not be empty
                        </div>
                        <div id="fmail" class="alert alert-error  error add-top" style="display: none;">
                        Please provide a valid email
                        </div>
                        <div id="fmsg" class="alert alert-error  error add-top" style="display: none;">
                        Message should not be empty
                        </div>
                    </article>
                </div>

                <div class="row">
                    <form name="myform" id="contactForm" action="sendcontact.php" enctype="multipart/form-data" method="post">  

                    <article class="span6">
                        <textarea id="msg" rows="3" cols="40" name="message" placeholder="Message">Message</textarea>
                    </article>

                    <article class="span6">
                        <input size="100" type="text" name="name" id="name" placeholder="Name">
                        <input type="text" size="30" id="email" name="email" placeholder="email">
                        <button type="submit" name="submit" id="submit" class="btn btn-reva add-top-half">Send Message</button>
                    </article>
                        
                    </form>
                </div>
                            
            </section>
        </div>
    </section>
    <!--page:ends-->
    






    <!-- page:starts-->
    <section class="footer container-fluid section">
        <div class="row-fluid">
            <section class="container">
                <div class="row">
                    <article class="team-block span6 text-center main-title">
                        <img title="designova" alt="reva" src="images/team/01.png">
                        <h3 class="sub-title">Dorrit Geshuri</h3>
                        <h6>Lead Cowgirl</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Proin consequat sollicitudin mauris ut cursus. Phasellus sapien quam.</p>
                        <nav class="team-soc">
                            <a href="#"><img title="designova" alt="reva" src="images/social/t01.png"></a>
                            <a href="#"><img title="designova" alt="reva" src="images/social/t02.png"></a>
                            <a href="#"><img title="designova" alt="reva" src="images/social/t03.png"></a>
                            <a href="#"><img title="designova" alt="reva" src="images/social/t04.png"></a>
                        </nav>
                    </article>
                     <article class="team-block span6 text-center main-title">
                        <img title="designova" alt="reva" src="images/team/01.png">
                        <h3 class="sub-title">Peter Lowry</h3>
                        <h6>Lead Cowboy</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Proin consequat sollicitudin mauris ut cursus. Phasellus sapien quam.</p>
                        <nav class="team-soc">
                            <a href="#"><img title="designova" alt="reva" src="images/social/t01.png"></a>
                            <a href="#"><img title="designova" alt="reva" src="images/social/t02.png"></a>
                            <a href="#"><img title="designova" alt="reva" src="images/social/t03.png"></a>
                            <a href="#"><img title="designova" alt="reva" src="images/social/t04.png"></a>
                        </nav>
                    </article>
                 <div class="row">
                    <article class="span12">
                        <div class="copyright text-center">        
                            <p>Copyright © 2013 Dorrit & Peter.<br>Happy coding trails!<a href="http://www.designova.net">Designova</a></p>        
                        </div>
                    </article>
                 </div>

            </section>
        </div>
    </section>
    <!--page:ends-->

</div>
<!--/Home Page