<% provide :title, 'Subjects' %>

<table class='table'>
  <thead class='tool'>
    <tr>
      <th>Subject</th>
      <th></th>
    </tr>
  </thead>
  <% @subjects.each do |subject| %>
    <tr>
      <td><%= link_to "#{subject.subject_name}", tools_path(:subject_id => subject.id) %></td>
      <td><%= link_to 'Delete', subject, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini' %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add a Subject', new_subject_path, :class => 'btn btn-primary' %></p>
