.portfolio li{
    margin: 0 auto;
    width: 25% !important;
}
.parallax{
	display: none !important;
}

#navigation {
    background: #000;
}

.pattern{
	background: none;
}

.mask{
	display: none;
}

#saddlebags{
	padding-top: 60px;
}